body{
/*	background-image: url("../img/star.png");
  color: black;*/
  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: 70px;
  align-content: space-evenly;
}


/*#main-header{
	background-color:coral;
	color:#fff;
}*/

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

/*#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}*/

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	color:black;
	text-align: center;
    align-content: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

h1{
  font-family:  Simplifica,Zefani, Elianto, Linotte, Bitner, Tahoma;
  font-weight: 900;
    font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: .3em;
  word-spacing: 1em;
}
h2{
  color: green;
  align-content: center;
	text-align: center;
}

h3{
  color: darkorange;
	text-align: center;
}

p{
	text-align: justify;
}

pre{
	color: darkorange;
}

a{
  text-decoration: none;
  color: dodgerblue;
}
a:hover{
  color: red;
}
a:active{
  color: green;
}
a:visited{
  color: purple;
}

.categories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories li{
  padding-bottom: 6px;
  border-bottom: dotted 1px #000000;
  /*list-style-image: url("../img/");*/
}

.categories h2{
  text-align: center;
}

.categories ul{
  padding: 0;
  list-style: square;
}

.searchbar{
	width:auto;
    text-align: left;
	/*margin:auto;*/
	overflow:hidden;
}

.container{
	width:auto;
    text-align: left;
	/*margin:auto;*/
	overflow:hidden;
}


.containerblue{
  background-color: #F4DCD3;
  color: black;
  text-align: center;
  padding: 2px 3px 2px 10px;
  width: auto;
	height: auto;
	margin: auto;
}

.containerpink{
  background-color: #FDBCCF;
  color: black;
  text-align: center;
  padding: 2px 3px 2px 10px;
  width: auto;
	height: auto;
	margin: auto;
}
.containerlightblue{
  background-color: #D2E7EF;
  color: purple;
  text-align: center;
  padding: 2px 3px 2px 10px;
  width: auto;
	height: auto;
	margin: auto;
}
.containeryellow{
  background-color: lightgoldenrodyellow;
  color: darkred;
  text-align: justify;
  padding: 10px ;
  width: auto;
	height: auto;
	margin: auto;
}
.button{
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
}

.button:hover{
  background: red;
  color: black;
}

.box-right{
  background: papayawhip;
  color: #38761d;
  border-left: 5px red solid;
  padding: 20px;
}

.box-yellow{
  background: lightyellow;
  color: #38761d;
  border-left: 5px orange solid;
  padding: 20px;
}



.boxpink{
    background: lightgoldenrodyellow;
  color: deeppink;
  border-left: 5px purple solid;
/*  border: 2px deeppink dot-dot-dash;
  border-top-style: dotted;*/
  padding: 20px;
}



